<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>i'm in the App Component!</h3>
            <hr>
            <!--<app-servers></app-servers>-->
            <!--<div>app-servers</div>-->
            <div class="app-servers">The Server Component</div>
            <app-servers></app-servers>
            <label>Username</label>
            <input type="text" class="for-control" [(ngModel)]="userName">
            <p>{{ userName }}</p>
            <button 
            class="btn btn-primary" 
            [disabled]="userName === ''"
            (click)="userName = ''"
            >Reset User</button>
        </div>
    </div>
</div>